# Generated by tools/gen_specs.py — do not edit by hand.
openapi: 3.1.0
info:
  title: Kilima Poker API
  version: 1.0.0
  description: REST API v1 (KP-ENG-03). Gameplay and seating are on the real-time protocol (asyncapi.yaml). Money in integer
    minor units.
servers:
- url: https://api.kilima.poker/api/v1
  description: Real Money
- url: https://api.play.kilima.poker/api/v1
  description: Play Money
security:
- bearerAuth: []
paths:
  /auth/register/start:
    post:
      operationId: postAuthRegisterStart
      summary: Start registration; sends OTP
      tags:
      - Auth
      x-roles:
      - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/register/verify:
    post:
      operationId: postAuthRegisterVerify
      summary: Verify OTP; returns a registration token
      tags:
      - Auth
      x-roles:
      - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/register/complete:
    post:
      operationId: postAuthRegisterComplete
      summary: Create account; returns tokens
      tags:
      - Auth
      x-roles:
      - registration-token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tokens'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/login:
    post:
      operationId: postAuthLogin
      summary: Password login; returns tokens or a step-up challenge
      tags:
      - Auth
      x-roles:
      - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tokens'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/otp/send:
    post:
      operationId: postAuthOtpSend
      summary: Send or resend an OTP for a challenge
      tags:
      - Auth
      x-roles:
      - challenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/otp/verify:
    post:
      operationId: postAuthOtpVerify
      summary: Complete a login or step-up challenge
      tags:
      - Auth
      x-roles:
      - challenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tokens'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/passkey/options:
    post:
      operationId: postAuthPasskeyOptions
      summary: WebAuthn registration or login options
      tags:
      - Auth
      x-roles:
      - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/passkey/verify:
    post:
      operationId: postAuthPasskeyVerify
      summary: Verify a WebAuthn response
      tags:
      - Auth
      x-roles:
      - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tokens'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/totp/enroll:
    post:
      operationId: postAuthTotpEnroll
      summary: Start TOTP enrolment
      tags:
      - Auth
      x-roles:
      - user
      x-step-up: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /auth/totp/confirm:
    post:
      operationId: postAuthTotpConfirm
      summary: Confirm TOTP
      tags:
      - Auth
      x-roles:
      - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /auth/step-up:
    post:
      operationId: postAuthStepUp
      summary: Start a step-up challenge
      tags:
      - Auth
      x-roles:
      - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /auth/refresh:
    post:
      operationId: postAuthRefresh
      summary: Rotate the refresh token
      tags:
      - Auth
      x-roles:
      - refresh-token
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tokens'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/logout:
    post:
      operationId: postAuthLogout
      summary: Revoke the current session
      tags:
      - Auth
      x-roles:
      - user
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /auth/logout-all:
    post:
      operationId: postAuthLogoutAll
      summary: Revoke all sessions
      tags:
      - Auth
      x-roles:
      - user
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /auth/sessions:
    get:
      operationId: getAuthSessions
      summary: Active sessions and devices
      tags:
      - Auth
      x-roles:
      - user
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /auth/sessions/{sid}:
    delete:
      operationId: deleteAuthSessionsSid
      summary: Revoke one session
      tags:
      - Auth
      x-roles:
      - user
      parameters:
      - name: sid
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /auth/me:
    get:
      operationId: getAuthMe
      summary: Identity, roles, status
      tags:
      - Auth
      x-roles:
      - user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /auth/password/forgot:
    post:
      operationId: postAuthPasswordForgot
      summary: Start password reset (always 202)
      tags:
      - Auth
      x-roles:
      - public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/password/reset:
    post:
      operationId: postAuthPasswordReset
      summary: Reset password with OTP proof
      tags:
      - Auth
      x-roles:
      - challenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/password/change:
    post:
      operationId: postAuthPasswordChange
      summary: Change password
      tags:
      - Auth
      x-roles:
      - user
      x-step-up: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /auth/launch:
    post:
      operationId: postAuthLaunch
      summary: Exchange a B2B launch token
      tags:
      - Auth
      x-roles:
      - launch-token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tokens'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /auth/.well-known/jwks.json:
    get:
      operationId: getAuthWellKnownJwksJson
      summary: Public signing keys
      tags:
      - Auth
      x-roles:
      - public
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /players/me:
    get:
      operationId: getPlayersMe
      summary: Own profile
      tags:
      - Players
      x-roles:
      - user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: patchPlayersMe
      summary: Update preferences
      tags:
      - Players
      x-roles:
      - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /players/me/avatar:
    put:
      operationId: putPlayersMeAvatar
      summary: Choose or upload an avatar
      tags:
      - Players
      x-roles:
      - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /players/{id}:
    get:
      operationId: getPlayersId
      summary: Public profile
      tags:
      - Players
      x-roles:
      - user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /players/me/stats:
    get:
      operationId: getPlayersMeStats
      summary: Own statistics
      tags:
      - Players
      x-roles:
      - self
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /players/me/sessions:
    get:
      operationId: getPlayersMeSessions
      summary: Session history
      tags:
      - Players
      x-roles:
      - self
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /players/me/notes:
    get:
      operationId: getPlayersMeNotes
      summary: Notes on other players
      tags:
      - Players
      x-roles:
      - self
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /players/me/notes/{playerId}:
    put:
      operationId: putPlayersMeNotesPlayerId
      summary: Create or update a note
      tags:
      - Players
      x-roles:
      - self
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /players/me/blocklist:
    get:
      operationId: getPlayersMeBlocklist
      summary: Chat blocklist
      tags:
      - Players
      x-roles:
      - self
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /players/me/blocklist/{playerId}:
    put:
      operationId: putPlayersMeBlocklistPlayerId
      summary: Block or unblock chat
      tags:
      - Players
      x-roles:
      - self
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /lobby/pools:
    get:
      operationId: getLobbyPools
      summary: Pools available to the caller
      tags:
      - Lobby
      x-roles:
      - user
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /lobby/pools/{poolId}/cash:
    get:
      operationId: getLobbyPoolsPoolIdCash
      summary: Cash tables and templates
      tags:
      - Lobby
      x-roles:
      - user
      parameters:
      - name: poolId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /lobby/pools/{poolId}/fastfold:
    get:
      operationId: getLobbyPoolsPoolIdFastfold
      summary: Fast-fold pools
      tags:
      - Lobby
      x-roles:
      - user
      parameters:
      - name: poolId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /lobby/pools/{poolId}/sng:
    get:
      operationId: getLobbyPoolsPoolIdSng
      summary: Sit & Go and Spin queues
      tags:
      - Lobby
      x-roles:
      - user
      parameters:
      - name: poolId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /lobby/pools/{poolId}/tournaments:
    get:
      operationId: getLobbyPoolsPoolIdTournaments
      summary: Tournament schedule
      tags:
      - Lobby
      x-roles:
      - user
      parameters:
      - name: poolId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /lobby/search:
    get:
      operationId: getLobbySearch
      summary: Find a table or tournament
      tags:
      - Lobby
      x-roles:
      - user
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /tables/{tableId}:
    get:
      operationId: getTablesTableId
      summary: Table configuration and summary
      tags:
      - Hands
      x-roles:
      - user
      parameters:
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableSummary'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /hands:
    get:
      operationId: getHands
      summary: Own hand history list
      tags:
      - Hands
      x-roles:
      - self
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /hands/{handId}:
    get:
      operationId: getHandsHandId
      summary: Hand record
      tags:
      - Hands
      x-roles:
      - participant
      - integrity_analyst
      parameters:
      - name: handId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandRecord'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /hands/{handId}/replay:
    get:
      operationId: getHandsHandIdReplay
      summary: Replay data
      tags:
      - Hands
      x-roles:
      - participant
      - integrity_analyst
      parameters:
      - name: handId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandRecord'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /hands/{handId}/verify:
    get:
      operationId: getHandsHandIdVerify
      summary: Deck, salt and commitment
      tags:
      - Hands
      x-roles:
      - participant
      parameters:
      - name: handId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /hands/export:
    post:
      operationId: postHandsExport
      summary: Export own hand histories (async)
      tags:
      - Hands
      x-roles:
      - self
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /wallet/balances:
    get:
      operationId: getWalletBalances
      summary: Balances by currency
      tags:
      - Wallet
      x-roles:
      - player
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /wallet/transactions:
    get:
      operationId: getWalletTransactions
      summary: Own statement
      tags:
      - Wallet
      x-roles:
      - player
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /wallet/transactions/{txId}:
    get:
      operationId: getWalletTransactionsTxId
      summary: One transaction
      tags:
      - Wallet
      x-roles:
      - self
      parameters:
      - name: txId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /wallet/tickets:
    get:
      operationId: getWalletTickets
      summary: Tournament tickets
      tags:
      - Wallet
      x-roles:
      - player
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /wallet/play-topup:
    post:
      operationId: postWalletPlayTopup
      summary: Free play-chip top-up
      tags:
      - Wallet
      x-roles:
      - player
      x-mode: play
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /tournaments/{id}:
    get:
      operationId: getTournamentsId
      summary: Tournament details
      tags:
      - Tournaments
      x-roles:
      - user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /tournaments/{id}/standings:
    get:
      operationId: getTournamentsIdStandings
      summary: Live standings
      tags:
      - Tournaments
      x-roles:
      - user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /tournaments/{id}/payouts:
    get:
      operationId: getTournamentsIdPayouts
      summary: Payout table
      tags:
      - Tournaments
      x-roles:
      - user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /tournaments/{id}/tables:
    get:
      operationId: getTournamentsIdTables
      summary: Tournament tables
      tags:
      - Tournaments
      x-roles:
      - user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /tournaments/{id}/registrations:
    post:
      operationId: postTournamentsIdRegistrations
      summary: Register or re-enter
      tags:
      - Tournaments
      x-roles:
      - player
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /tournaments/{id}/registrations/me:
    delete:
      operationId: deleteTournamentsIdRegistrationsMe
      summary: Unregister before start
      tags:
      - Tournaments
      x-roles:
      - player
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /tournaments/me:
    get:
      operationId: getTournamentsMe
      summary: Own registrations
      tags:
      - Tournaments
      x-roles:
      - player
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /sng/{queueId}/registrations:
    post:
      operationId: postSngQueueIdRegistrations
      summary: Register for a Sit & Go or Spin
      tags:
      - Tournaments
      x-roles:
      - player
      parameters:
      - name: queueId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /sng/{queueId}/registrations/me:
    delete:
      operationId: deleteSngQueueIdRegistrationsMe
      summary: Leave a Sit & Go or Spin queue
      tags:
      - Tournaments
      x-roles:
      - player
      parameters:
      - name: queueId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /cashier/methods:
    get:
      operationId: getCashierMethods
      summary: Available payment methods
      tags:
      - Cashier
      x-roles:
      - player
      x-mode: real
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /cashier/deposits:
    post:
      operationId: postCashierDeposits
      summary: Start a deposit
      tags:
      - Cashier
      x-roles:
      - player
      x-mode: real
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /cashier/deposits/{paymentId}:
    get:
      operationId: getCashierDepositsPaymentId
      summary: Deposit status
      tags:
      - Cashier
      x-roles:
      - self
      x-mode: real
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /cashier/instruments:
    get:
      operationId: getCashierInstruments
      summary: Payout instruments
      tags:
      - Cashier
      x-roles:
      - player
      x-mode: real
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: postCashierInstruments
      summary: Add a payout instrument
      tags:
      - Cashier
      x-roles:
      - player
      x-mode: real
      x-step-up: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /cashier/instruments/{id}:
    delete:
      operationId: deleteCashierInstrumentsId
      summary: Remove a payout instrument
      tags:
      - Cashier
      x-roles:
      - player
      x-mode: real
      x-step-up: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /cashier/withdrawals:
    post:
      operationId: postCashierWithdrawals
      summary: Request a withdrawal
      tags:
      - Cashier
      x-roles:
      - player
      x-mode: real
      x-step-up: true
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    get:
      operationId: getCashierWithdrawals
      summary: Own withdrawals
      tags:
      - Cashier
      x-roles:
      - player
      x-mode: real
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /cashier/withdrawals/{id}/cancel:
    post:
      operationId: postCashierWithdrawalsIdCancel
      summary: Cancel a pending withdrawal
      tags:
      - Cashier
      x-roles:
      - self
      x-mode: real
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /cashier/fx-quote:
    get:
      operationId: getCashierFxQuote
      summary: Conversion quote
      tags:
      - Cashier
      x-roles:
      - player
      x-mode: real
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /cashier/webhooks/{provider}:
    post:
      operationId: postCashierWebhooksProvider
      summary: Payment provider callbacks
      tags:
      - Cashier
      x-roles:
      - provider-signature
      x-mode: real
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security:
      - signedRequest: []
  /compliance/status:
    get:
      operationId: getComplianceStatus
      summary: Verification and jurisdiction status
      tags:
      - Compliance
      x-roles:
      - player
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceStatus'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /compliance/kyc/session:
    post:
      operationId: postComplianceKycSession
      summary: Start a KYC session
      tags:
      - Compliance
      x-roles:
      - player
      x-mode: real
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /compliance/kyc/webhooks/{provider}:
    post:
      operationId: postComplianceKycWebhooksProvider
      summary: KYC provider callbacks
      tags:
      - Compliance
      x-roles:
      - provider-signature
      x-mode: real
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security:
      - signedRequest: []
  /compliance/geolocation:
    post:
      operationId: postComplianceGeolocation
      summary: Submit a signed location proof
      tags:
      - Compliance
      x-roles:
      - player
      x-mode: real
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /compliance/limits:
    get:
      operationId: getComplianceLimits
      summary: Responsible-gaming limits
      tags:
      - Compliance
      x-roles:
      - player
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Limits'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: putComplianceLimits
      summary: Set limits (raises need step-up)
      tags:
      - Compliance
      x-roles:
      - player
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Limits'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Limits'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /compliance/cool-off:
    post:
      operationId: postComplianceCoolOff
      summary: Start a cooling-off period
      tags:
      - Compliance
      x-roles:
      - player
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Limits'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /compliance/self-exclusion:
    post:
      operationId: postComplianceSelfExclusion
      summary: Self-exclude
      tags:
      - Compliance
      x-roles:
      - player
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Limits'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /compliance/reality-check:
    put:
      operationId: putComplianceRealityCheck
      summary: Reality-check interval
      tags:
      - Compliance
      x-roles:
      - player
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Limits'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /compliance/activity-statement:
    get:
      operationId: getComplianceActivityStatement
      summary: Activity statement
      tags:
      - Compliance
      x-roles:
      - player
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /rewards/me:
    get:
      operationId: getRewardsMe
      summary: Loyalty status
      tags:
      - Rewards
      x-roles:
      - player
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /rewards/missions:
    get:
      operationId: getRewardsMissions
      summary: Missions
      tags:
      - Rewards
      x-roles:
      - player
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /rewards/missions/{id}/claim:
    post:
      operationId: postRewardsMissionsIdClaim
      summary: Claim a mission reward
      tags:
      - Rewards
      x-roles:
      - player
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /promotions:
    get:
      operationId: getPromotions
      summary: Active promotions
      tags:
      - Rewards
      x-roles:
      - player
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /promotions/{code}/redeem:
    post:
      operationId: postPromotionsCodeRedeem
      summary: Redeem a promo code
      tags:
      - Rewards
      x-roles:
      - player
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /leaderboards/{id}:
    get:
      operationId: getLeaderboardsId
      summary: Leaderboard standings
      tags:
      - Rewards
      x-roles:
      - user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /clubs/me:
    get:
      operationId: getClubsMe
      summary: Own clubs
      tags:
      - Clubs
      x-roles:
      - player
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /clubs:
    post:
      operationId: postClubs
      summary: Create a club
      tags:
      - Clubs
      x-roles:
      - club_owner
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /clubs/{id}/members:
    post:
      operationId: postClubsIdMembers
      summary: Invite a member
      tags:
      - Clubs
      x-roles:
      - club_owner
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /clubs/join:
    post:
      operationId: postClubsJoin
      summary: Join a club with a code
      tags:
      - Clubs
      x-roles:
      - player
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /integrity/reports:
    post:
      operationId: postIntegrityReports
      summary: Report a player
      tags:
      - Integrity
      x-roles:
      - player
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /integrity/cases:
    get:
      operationId: getIntegrityCases
      summary: Case queue
      tags:
      - Integrity
      x-roles:
      - integrity_analyst
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /integrity/cases/{id}:
    get:
      operationId: getIntegrityCasesId
      summary: Case details
      tags:
      - Integrity
      x-roles:
      - integrity_analyst
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /integrity/cases/{id}/decision:
    post:
      operationId: postIntegrityCasesIdDecision
      summary: Decide a case
      tags:
      - Integrity
      x-roles:
      - integrity_analyst
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /integrity/accounts/{id}/graph:
    get:
      operationId: getIntegrityAccountsIdGraph
      summary: Linked accounts graph
      tags:
      - Integrity
      x-roles:
      - integrity_analyst
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /integrity/spot-checks:
    post:
      operationId: postIntegritySpotChecks
      summary: Create a manual review
      tags:
      - Integrity
      x-roles:
      - integrity_analyst
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /notifications:
    get:
      operationId: getNotifications
      summary: In-app inbox
      tags:
      - Notifications
      x-roles:
      - user
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /notifications/{id}/read:
    post:
      operationId: postNotificationsIdRead
      summary: Mark read
      tags:
      - Notifications
      x-roles:
      - self
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /notifications/preferences:
    put:
      operationId: putNotificationsPreferences
      summary: Notification preferences
      tags:
      - Notifications
      x-roles:
      - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /notifications/push-token:
    put:
      operationId: putNotificationsPushToken
      summary: Register a push token
      tags:
      - Notifications
      x-roles:
      - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/accounts:
    get:
      operationId: getAdminAccounts
      summary: Search accounts
      tags:
      - Admin
      x-roles:
      - support
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/accounts/{id}:
    get:
      operationId: getAdminAccountsId
      summary: Account 360° view
      tags:
      - Admin
      x-roles:
      - support
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/accounts/{id}/status:
    post:
      operationId: postAdminAccountsIdStatus
      summary: Change account status
      tags:
      - Admin
      x-roles:
      - support
      - compliance_officer
      - admin
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/accounts/{id}/kick:
    post:
      operationId: postAdminAccountsIdKick
      summary: Remove from all tables
      tags:
      - Admin
      x-roles:
      - support
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/wallet/adjustments:
    post:
      operationId: postAdminWalletAdjustments
      summary: Manual adjustment (four-eyes above threshold)
      tags:
      - Admin
      x-roles:
      - finance
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/wallet/locks:
    post:
      operationId: postAdminWalletLocks
      summary: Lock or unlock funds
      tags:
      - Admin
      x-roles:
      - risk_analyst
      - integrity_analyst
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/withdrawals:
    get:
      operationId: getAdminWithdrawals
      summary: Withdrawal review queue
      tags:
      - Admin
      x-roles:
      - risk_analyst
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/withdrawals/{id}/decision:
    post:
      operationId: postAdminWithdrawalsIdDecision
      summary: Approve or reject a withdrawal
      tags:
      - Admin
      x-roles:
      - risk_analyst
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/pools:
    get:
      operationId: getAdminPools
      summary: List pools
      tags:
      - Admin
      x-roles:
      - game_ops
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: postAdminPools
      summary: Create or update a pool
      tags:
      - Admin
      x-roles:
      - game_ops
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/table-templates:
    get:
      operationId: getAdminTableTemplates
      summary: List table templates
      tags:
      - Admin
      x-roles:
      - game_ops
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: postAdminTableTemplates
      summary: Create or update a table template
      tags:
      - Admin
      x-roles:
      - game_ops
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/tournaments:
    get:
      operationId: getAdminTournaments
      summary: List tournaments
      tags:
      - Admin
      x-roles:
      - game_ops
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: postAdminTournaments
      summary: Create a tournament
      tags:
      - Admin
      x-roles:
      - game_ops
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    patch:
      operationId: patchAdminTournaments
      summary: Bulk edit schedule
      tags:
      - Admin
      x-roles:
      - game_ops
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/tournaments/{id}/pause:
    post:
      operationId: postAdminTournamentsIdPause
      summary: Pause a tournament
      tags:
      - Admin
      x-roles:
      - game_ops
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/tournaments/{id}/resume:
    post:
      operationId: postAdminTournamentsIdResume
      summary: Resume a tournament
      tags:
      - Admin
      x-roles:
      - game_ops
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/tournaments/{id}/cancel:
    post:
      operationId: postAdminTournamentsIdCancel
      summary: Cancel a tournament (four-eyes)
      tags:
      - Admin
      x-roles:
      - game_ops
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/rake-schedules:
    get:
      operationId: getAdminRakeSchedules
      summary: Rake schedules
      tags:
      - Admin
      x-roles:
      - finance
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: putAdminRakeSchedules
      summary: Update rake schedules (four-eyes)
      tags:
      - Admin
      x-roles:
      - finance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/jurisdictions/{code}:
    get:
      operationId: getAdminJurisdictionsCode
      summary: Jurisdiction policy
      tags:
      - Admin
      x-roles:
      - compliance_officer
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: putAdminJurisdictionsCode
      summary: Update jurisdiction policy (four-eyes)
      tags:
      - Admin
      x-roles:
      - compliance_officer
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/spin-paytables:
    get:
      operationId: getAdminSpinPaytables
      summary: Spin paytables
      tags:
      - Admin
      x-roles:
      - finance
      - compliance_officer
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: putAdminSpinPaytables
      summary: Activate a certified paytable (four-eyes)
      tags:
      - Admin
      x-roles:
      - finance
      - compliance_officer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/promotions:
    post:
      operationId: postAdminPromotions
      summary: Create a promotion
      tags:
      - Admin
      x-roles:
      - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/announcements:
    post:
      operationId: postAdminAnnouncements
      summary: Create an announcement
      tags:
      - Admin
      x-roles:
      - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/reports/{report}:
    get:
      operationId: getAdminReportsReport
      summary: Financial and regulatory reports
      tags:
      - Admin
      x-roles:
      - finance
      - compliance_officer
      parameters:
      - name: report
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /admin/audit:
    get:
      operationId: getAdminAudit
      summary: Audit log search
      tags:
      - Admin
      x-roles:
      - admin
      - compliance_officer
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /operator/v1/sessions:
    post:
      operationId: postOperatorV1Sessions
      summary: Create a player launch session
      tags:
      - Operator
      x-roles:
      - operator-signature
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security:
      - signedRequest: []
  /operator/v1/players/{operatorPlayerId}/status:
    post:
      operationId: postOperatorV1PlayersOperatorPlayerIdStatus
      summary: Push player status changes
      tags:
      - Operator
      x-roles:
      - operator-signature
      parameters:
      - name: operatorPlayerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security:
      - signedRequest: []
  /operator/v1/players/{operatorPlayerId}/balance:
    get:
      operationId: getOperatorV1PlayersOperatorPlayerIdBalance
      summary: Poker balance (transfer wallet)
      tags:
      - Operator
      x-roles:
      - operator-signature
      parameters:
      - name: operatorPlayerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security:
      - signedRequest: []
  /operator/v1/transfers:
    post:
      operationId: postOperatorV1Transfers
      summary: Transfer in or out (transfer wallet)
      tags:
      - Operator
      x-roles:
      - operator-signature
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security:
      - signedRequest: []
  /operator/v1/reports/{report}:
    get:
      operationId: getOperatorV1ReportsReport
      summary: Operator reports and settlement
      tags:
      - Operator
      x-roles:
      - operator-signature
      parameters:
      - name: report
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        '401':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
      security:
      - signedRequest: []
  /healthz:
    get:
      operationId: getHealthz
      summary: Liveness
      tags:
      - Health
      x-roles:
      - public
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/Error'
      security: []
  /readyz:
    get:
      operationId: getReadyz
      summary: Readiness
      tags:
      - Health
      x-roles:
      - public
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/Error'
      security: []
  /version:
    get:
      operationId: getVersion
      summary: Build version
      tags:
      - Health
      x-roles:
      - public
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        default:
          $ref: '#/components/responses/Error'
      security: []
  /status:
    get:
      operationId: getStatus
      summary: Public status summary
      tags:
      - Health
      x-roles:
      - public
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic'
        default:
          $ref: '#/components/responses/Error'
      security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    signedRequest:
      type: apiKey
      in: header
      name: X-Signature
      description: HMAC-SHA256 signature (operators, providers) plus mTLS
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
  responses:
    Error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Money:
      type: object
      required:
      - amount
      - currency
      additionalProperties: false
      properties:
        amount:
          type: integer
          format: int64
          description: Minor units
        currency:
          type: string
          pattern: ^([A-Z]{3}|KPC)$
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
            requestId:
              type: string
    Page:
      type: object
      properties:
        items:
          type: array
          items: {}
        nextCursor:
          type:
          - string
          - 'null'
    Tokens:
      type: object
      properties:
        accessToken:
          type: string
        expiresIn:
          type: integer
        refreshToken:
          type: string
          description: Apps only; web receives an httpOnly cookie
    Challenge:
      type: object
      properties:
        challengeId:
          type: string
        methods:
          type: array
          items:
            type: string
            enum:
            - otp_sms
            - otp_whatsapp
            - totp
            - passkey
        expiresAt:
          type: string
          format: date-time
    Profile:
      type: object
      properties:
        id:
          type: string
        screenName:
          type: string
        avatarId:
          type: string
        country:
          type: string
        locale:
          type: string
        preferences:
          type: object
        verification:
          type: object
          properties:
            phone:
              type: boolean
            kyc:
              type: string
        rewardsTier:
          type: string
    Pool:
      type: object
      properties:
        id:
          type: string
        currency:
          type: string
        name:
          type: string
        formats:
          type: array
          items:
            type: string
    TableSummary:
      type: object
      properties:
        tableId:
          type: string
        name:
          type: string
        variant:
          type: string
          enum:
          - nlhe
          - plo4
          - plo5
          - plo6
          - shortdeck
        structure:
          type: string
          enum:
          - NL
          - PL
        stakes:
          type: object
        currency:
          type: string
        maxSeats:
          type: integer
        seated:
          type: integer
        waitlist:
          type: integer
        avgPot:
          type: integer
        playersPerFlop:
          type: integer
        handsPerHour:
          type: integer
        features:
          type: array
          items:
            type: string
    HandRecord:
      type: object
      description: KP-ENG-06 §11
      properties:
        handId:
          type: string
        tableId:
          type: string
        variant:
          type: string
        format:
          type: string
        currency:
          type: string
        board:
          type: object
        seats:
          type: array
          items:
            type: object
        actions:
          type: array
          items:
            type: object
        pots:
          type: array
          items:
            type: object
        rake:
          type: object
        rng:
          type: object
    Balance:
      type: object
      properties:
        currency:
          type: string
        cash:
          type: integer
        bonus:
          type: integer
        locked:
          type: integer
        pendingWithdrawal:
          type: integer
        onTables:
          type: integer
        inTournaments:
          type: integer
        tickets:
          type: integer
    Transaction:
      type: object
      properties:
        txId:
          type: string
        type:
          type: string
        createdAt:
          type: string
        entries:
          type: array
          items:
            type: object
            properties:
              account:
                type: string
              amount:
                $ref: '#/components/schemas/Money'
    Tournament:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        variant:
          type: string
        buyIn:
          $ref: '#/components/schemas/Money'
        fee:
          $ref: '#/components/schemas/Money'
        guarantee:
          $ref: '#/components/schemas/Money'
        status:
          type: string
        entrants:
          type: integer
        scheduledStart:
          type: string
          format: date-time
    Registration:
      type: object
      properties:
        entryId:
          type: string
        entryNo:
          type: integer
        txId:
          type: string
    PaymentMethod:
      type: object
      properties:
        methodId:
          type: string
        type:
          type: string
          enum:
          - mobile_money
          - card
          - bank
        provider:
          type: string
        currencies:
          type: array
          items:
            type: string
        min:
          $ref: '#/components/schemas/Money'
        max:
          $ref: '#/components/schemas/Money'
        fee:
          type: object
    Payment:
      type: object
      properties:
        paymentId:
          type: string
        direction:
          type: string
        status:
          type: string
          enum:
          - initiated
          - awaiting_customer
          - pending
          - review
          - approved
          - completed
          - failed
          - rejected
          - cancelled
          - reversed
        amount:
          $ref: '#/components/schemas/Money'
        credit:
          $ref: '#/components/schemas/Money'
        instructions:
          type: string
    Instrument:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        masked:
          type: string
        holderNameMatch:
          type: string
          enum:
          - matched
          - mismatch
          - unknown
    Limits:
      type: object
      properties:
        deposit:
          type: object
        loss:
          type: object
        wager:
          type: object
        sessionMinutes:
          type: integer
        coolOffUntil:
          type:
          - string
          - 'null'
        selfExcludedUntil:
          type:
          - string
          - 'null'
    ComplianceStatus:
      type: object
      properties:
        kycStatus:
          type: string
        jurisdiction:
          type: string
        ageVerified:
          type: boolean
        requiredSteps:
          type: array
          items:
            type: string
    Case:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        severity:
          type: string
        score:
          type: number
        status:
          type: string
        accounts:
          type: array
          items:
            type: string
        evidence:
          type: object
    Generic:
      type: object
